{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h3>Je suis  la v1.0.0 </h3>
    <h3>Je suis  la v1.0.1</h3>


    {{ form(form) }}

    This friendly message is coming from:
    <div class="col-12">
        <img src="logo.png">
    </div>
    <div  data-controller="hello">

    </div>
    <ul>
        <li>Your controller at <code><a href="{{ '/Volumes/Sites/framework-cf/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Volumes/Sites/framework-cf/templates/homepage/index.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
